<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자</title>
  </head>
  <body>
    <button onclick="adminOrdersystem()">주문 내역 확인</button>
    <button onclick="location.href='check.html'">체크인 체크아웃 시스템</button>
    <button onclick="location.href='stock.html'">물품 관리 시스템</button>
  </body>
  <script>
    function adminOrdersystem() {
      window.location.href = "/adminOrder.html";
    }
  </script>
</html>
