<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h2>호텔 관리 시스템</h2>

      <form action="/login" method="POST">
        <input type="text" id="username" name="username" placeholder="로그인" />

        <input
          type="password"
          id="password"
          name="password"
          placeholder="비밀번호"
        />

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
